<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raisethestake">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaiseTheStake"
        tools:targetApi="31">
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".Lobby"
            android:exported="false" />
        <activity
            android:name=".JoinedTournament"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".SubmitResults"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".SearchForPlayer"
            android:exported="false" />
        <activity
            android:name=".PlayingMatch1"
            android:exported="false" />
        <activity
            android:name=".PlayingMatch2"
            android:exported="false" />
        <activity
            android:name=".JoiningTournament"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".FindMatch"
            android:exported="false" />
        <activity
            android:name=".Deposit"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>